version: "3.8"

services:
  web:
    build: .
    ports:
      - "8080:8080"
    environment:
      - PHP_DISPLAY_ERRORS=off
    volumes:
      - ./php/data:/var/www/html/php/data
    restart: unless-stopped
